<div class="form">
  <h1>New Cocktail</h1>
  <div class="bbtom"></div>
  <div >
    <%= form_for(@cocktail) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "mr-2" %>
      <%= f.submit class: "btn btn-primary text-white" %>
    <% end %>
  </div>

  <div class="bbtom"></div>
  <button class="btn btn-primary"><%= link_to "Back", root_path, class: "text-white" %></button>

</div>